html {
	background-color: deepskyblue;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Bebas Neue', sans-serif;        
    box-sizing: border-box;
}

.header {                     
		height: 100%;
		width: 100%;
		padding: 0 1px;
		background-color:white;
		background-position: center;
		background-size: cover;
}

nav {             
	padding: 1px;
    margin: -1px;
    display: flex;     
	align-items: center;
	justify-content: space-between;
    -webkit-user-select: none;
    -ms-user-select: none;			
    user-select: none;
	font-weight: bold;
}

.logo {     
	margin-left: 10px;
    margin-top: 10px;
	margin-bottom: 5px;
	width: 140px;
}

.logo2 {   	  
    margin-left: -420px;
    margin-top: 10px;
	width: 200px;
	display: left; 
}

.nav ul {
	background: #000;
	width: 100%;
	margin-top: 10px;
}

.nav ul li {
	display: inline-block;
	list-style: none;
	margin: 20px 30px;
	color: #fff;
}

.nav-links {
	padding: 3px 0;
}

.nav-links li {              
    display: inline-block;
    font-size: 20px;
    margin: 0 15px;
}

.nav-links li a {                    
    text-decoration: none;
    color: RGB(127,63,152); 
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {    			
    content: '';
    background: #8b008b;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after { 		
    width: 100%;
}

 /* login In button*/ 
 .btn1 {                               
    /*background: #1ca9c9; /*red*/
    /*color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;*/
    color: #8b008b;
    cursor: pointer;
    box-shadow:0 0px #999;
    border: 2px solid #00bfff;
    border-radius: 8px;
    padding: 5px;
    font-family:'Bebas Neue', sans-serif;   
}

.btn1:hover {                               
    background-color: #00bfff;
    font-family:'Bebas Neue', sans-serif;   
}

/*creates a little animation for login In button*/ 
.btn1:active {                                  
    background-color: #00bfff;
    box-shadow: 0 0px #666;
    transform: translateY(2px);
    font-family:'Bebas Neue', sans-serif;   
}

h1 {
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  color: #333;
  background-color: white;
}

body {
  padding: 0px 30px 30px 20px;
  font-weight: 100;
}

table {
	float: center;
	background-color: white;
	width: 100%;
	border-spacing: 0;
	font-size: 18px;
}

.t {
	padding: 10px 30px 50px;
	border: 2px solid;
	background-color: white;
	font: normal 20px helvetica;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 65%;
	border: 1px solid white;
	border-radius: 0px 0px 8px 8px;
	font-family: 'Bebas Neue', sans-serif;
}



.t .remove-button {
  background-color: #8b008b;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin-top: 10px; 
  cursor: pointer;
}

.remove-button:hover {
  background-color: rgb(177,156,217);
}  

.heading {
	position:relative;
    margin-top: 10%;
    border: 2px solid;
    background-color: white;
    font: normal 50px helvetica;	
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 65%;
    border: 1px solid white;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

td {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
	font-weight: bold;
}

.checkout {
  position: relative;
  bottom: 20px;
  margin-left: 1010px;
  left: 0%;
  text-align: right;
  padding: 30px;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  background-color: white;
  border-radius: 10px;
}

.checkout table {
	margin-bottom: 16px;
	width: 400px;
}

.checkout td {
	padding: 4px;
}

.checkout .items-total {
	font-weight: bold;
	background-color: #D8BDF8;
}

.checkout .shipping-total {
	font-weight: bold;
	background-color: #D8BDF8;
}

.checkout .grand-total {
	font-weight: bold;
	background-color: #D8BDF8;
}

.checkout-button {
    padding: 8px 16px;
    background-color: #8b008b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
	font-weight: bold;
}

.checkout-button:hover {
    background-color: rgb(177,156,217);
}

.num-of-items {
	background-color: #D8BDF8;
	color: #8b008b;
	font-size: 18px;
	padding: 2px 5px;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
	text-align: center;
 }

 .footer {
    position: relative;
    width: 100%;
    background: white; /*RGB(127,63,152); #00bfff;*/
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    flex-wrap: wrap;
    color: rgb(127,63,152);
  }
  
  .social-icon__item, .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    color: rgb(127,63,152);
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.3rem;
     /*RGB(127,63,152);*/
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: bold;
    color: rgb(127,63,152);
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    margin: 5px 0 10px 0;
    font-size: 1em;
    font-weight: bold;
    color: rgb(127,63,152);
    font-family: 'Bebas Neue', sans-serif;
  }
