
    body {
        text-align: center;
        size: 40px;
        background-color: rgb(147,110,212);
        height: 1000px;
        font-size: 15px;
    }
    p {
        font-size: 1.5em;
        cellpadding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
    nav {
    display: table;
    width: 100%;
    margin: auto;
    float: none;
    background-color: thistle;
    font-weight: bold;
    }
    nav ul {
    height: 20%;
    display: table-row;
    }
    nav ul li {
    display: table-cell;
    width: 15%;
    border: thin solid rgba(190, 80, 120,2.00);
    border-collapse: collapse;
    font-size: 1.5em;
    }
    nav ul li a {
    
    display: block;
    margin: 5px 5px 5px 5px;
    vertical-align: middle;
    line-height: 1.5;
    text-align: center;
    }
    img {
        float: left;
        position:relative;
        margin-left: auto;
    margin-right: auto;
    width:35%;
    height: 50%;
    align: center;
    padding-top: 17px;
    }

    table {
    font-family: 'Bebas Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 50%;
    align: center;
    float: right;
    position: relative;
    border-radius: 10px;
    
    }
    .center {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        border: 1px solid white;
        border-radius: 8px;
    }
    th {
        font-size: 3em;
    }
    td {
        font-size: 1.5em;
        font-weight: bold;
    }
    input[type=submit] {
        font-size: 0.8em;
        font-family: 'Bebas Neue', sans-serif;
        background-color: DeepSkyBlue;
        border-radius: 10px;
        border: thin solid deepskyblue;
        font-weight: bold;
    }
    input {
        font-size: 1em;
    }
