* {
    margin: 0;
    padding: 0;
    font-family:'Bebas Neue', sans-serif;        
    box-sizing: border-box;
}

.header {                     
		height: 100%;
		width: 100%;
		padding: 0 1px;
		background-color:white;
		background-position: center;
		background-size: cover;
}

nav {             
	padding: 1px;
    margin: -1px;
    display: flex;     
	align-items: center;
	justify-content: space-between;
    -webkit-user-select: none;
    -ms-user-select: none;			
    -user-select: none;
}

.logo {     
	margin-left: 10px;
    margin-top:10px;
	margin-bottom:5px;
	width: 140px;
}

.logo2 {   	  
    margin-left: -420px;
    margin-top:10px;
	width: 200px;
	display: left; 
}

.nav ul {
	background: #000;
	width: 100%;
	margin-top:10px;
}

.nav ul li {
	display: inline-block;
	list-style: none;
	margin: 20px 30px;
	color: #fff;
}

.nav-links {
	padding: 3px 0;
}

.nav-links li {              
    display: inline-block;
    font-size: 20px;
    margin: 0 15px;
}

.nav-links li a {                    
    text-decoration: none;
    color: RGB(127,63,152); 
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {    			
    content: '';
    background: #8b008b;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after { 		
    width: 100%;
}

body {
  padding: 0px 30px 30px 20px;
  font-family: $font-default;
  font-weight: 100;
  background-color: #E6E6FA;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  color: #333;
  background-color: #936ED4;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  width: 25%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.item-image {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.item-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-details {
  flex: 2;
  padding: 10px;
  font-size: 19px;
}

.item-details h3 {
  margin-top: 0;
  font-size: 23px;
}

.item-details p {
  font-family:'Bebas Neue', sans-serif;
  font-size: 23px;
  background-color: #AFEEEE;
  color: maroon;
  text-shadow: 1px 1px white;
  text-emphasis: none;
}

.remove-item {
  background-color: #8b008b;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-self: flex-end;
}

.totals {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: right;
  background-color: #D8BDF8;
  padding: 30px;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
}

.totals div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #8b008b;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.shipping-total {
    font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
 }

.grand-value {
    float: right;
    width: 21%;
    text-align: right;
}

.grand-total {
    font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
 }
 
 .num-of-items {
	background-color: #D8BDF8;
	color: #8b008b;
	font-size: 18px;
	padding: 2px 5px;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
	text-align: center;
 }
 

